/Ticketing-System-Client/nbproject/private/
/Ticketing-System-Server/nbproject/private/
/Ticketing-System-Server/build/
/Ticketing-System-Client/build/
/Ticketing-System-Client/dist/
/Ticketing-System-Server/dist/
